/*
    authorization.scss
*/

.auth-layout {
  position: fixed;
  inset: 0;
  background: #050013;
  overflow: hidden;
  z-index: 999999; /* stays above everything */
  display: flex;
  align-items: center;
  justify-content: center;
}